.boards-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-content: flex-start;
}

.board-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}