.welcome-page {
  margin-bottom: 10px;
}

.main-pros {
  list-style: none;
}

.main-pros li::before {
  content: '✓';
}

.main-technology-list {
  display: grid;
  grid: repeat(2, 1fr) / repeat(4, 1fr);
  gap: 10px;

  @media screen and (max-width: 600px) {
    grid: repeat(4, 1fr) / repeat(2, 1fr);
  }
}

.main-team {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: auto;
}

.main-team-member {
  max-width: 300px;
}