@import '../../global-styles/variables';

.header {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #d3d3d3;
  height: 60px;
  padding: 5px;

  &Container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: $MAX_WIDTH;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
  }

  &Nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 40px;
  }

  &NavUser {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-around;

    & > li {
      width: 120px;
    }
  }

  &Button {
    width: 20px;
    margin-right: 0;
  }

  &UserName {
    display: flex;
    align-items: center;
  }

  &TextButton {
    width: 120px;
    height: 20px;
    font-style: initial;
    font-weight: bold;
  }
}

.MuiButtonBase {
  background: #000;
  width: 110px;
  font-size: 14px;
  padding: 0;

  & > span:first-child {
    width: 20px;
    margin-right: 5px;
  }

  &:hover {
    color: #ff0000;
  }
}