.user {
  align-self: center;
  display: flex;
  max-width: 580px;
  margin: 0 auto;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background:#fff;
  box-shadow: 0 0 15px #443131a1

  &Form {
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &Description {
    max-width: 50%;
    padding: 10px;

    @media (max-width: 498px) {
      margin: 0 auto;
      text-align: center;
      padding-bottom: 20px;
    }
  }

  @media (max-width: 998px) {
    width: 90%;
  }
  @media (max-width: 498px) {
    flex-direction: column;
    width: 90%;
    margin-bottom: 20px;
    padding: 4px;
  }
}