.user {
  display: flex;
  max-width: 580px;
  margin: 0 auto;
  padding: 10px;
  height: auto;
  justify-content: center;
  align-items: center;
  align-self: center;
  border-radius: 15px;
  background: #fff;
  box-shadow: 0 0 15px #203DA9A1;


  &Form {
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    @media (max-width: 557px) {
      max-width: 100%;
      width: 100%;
    }
  }

  &Description {
    max-width: 50%;
    padding: 10px;

    @media (max-width: 557px) {
      max-width: 100%;
      width: 100%;
      margin: 0 auto;
      text-align: center;
      padding-bottom: 20px;
    }
  }

  @media (max-width: 998px) {
    width: 90%;
  }
  @media (max-width: 557px) {
    flex-direction: column;
    width: 90%;
    margin-bottom: 20px;
    padding: 4px;
  }
  @media (max-width: 378px) {
    margin: auto;
  }
}