.single-board-page {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.board-header {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  max-width: 526px;
}

.edit-board-info {
  display: flex;
  margin: 0 auto;
}

.board-about {
  max-width: 228px;
}

.board-content {
  position: relative;
  flex-grow: 1;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.board {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: flex-start;
  white-space: nowrap;
  padding: 40px 0 10px;

  & > button {
    position: absolute;
    left: 6px;
    top: 2px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #0f0435;
    padding: 2px 5px;
    color: #0f0435;
  }
}

.board-column {
  margin: 0 5px;
  min-width: 240px;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  transition: 0.3s all;
}

.column-tasks {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}

.column-actions {
  display: flex;
  justify-content: space-between;
}

.task {
  background-color: #e4e4e4;
  display: flex;
  justify-content: space-between;
  gap: 5px;
  margin: 5px 0;

  & > button:first-child {
    color: #0f0435;
    transition: background .3s linear;

    &:hover {
      background: #c5c4c9;
    }
  }

  & > button:last-child {
    &:hover {
      background: #6386c700
    }
  }
}

.MuiCardHeader-content {
  flex: 1 1 auto;
  width: 100%;
}